node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

# macOS
.DS_Store
.DS_Store?

# ignore openzepplin folder
.openzeppelin/unknown-31337.json

yarn.lock
yarn-error.log